{{ form_start(form, {method: 'POST', action: path('comment_new', {'articleSlug': article.slug})}) }}
<fieldset>
    <legend>
        <i class="fa fa-comment" aria-hidden="true"></i> Add your comment
    </legend>

    {{ form_errors(form) }}

    <div class="form-group {% if not form.text.vars.valid %}has-error{% endif %}">
        {{ form_errors(form.text) }}
        {{ form_widget(form.text, {attr: {rows: 5}}) }}
    </div>

    <div class="form-group">
        <button class="btn btn-primary pull-right" type="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Publish
        </button>
    </div>
</fieldset>
{{ form_end(form) }}