<article>
    <div class="row">
        <h4 class="col">
            <a href="{{ path('article_view', {slug: article.slug}) }}">
                {{ article.title }}
            </a>
        </h4>
        <div class="col-md-auto">
            <small class="align-middle">
            <i class="fa fa-calendar-alt text-black-50"></i> {{ article.createdAt|localizeddate('long', 'medium', null, 'UTC') }}
            {% if is_granted('is_my', article) %}
                <a href="{{ path('article_edit', {slug: article.slug}) }}" class="btn btn-link btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                <form action="{{ path('article_delete', {slug: article.slug}) }}" method="POST" class="delete-link" style="display: inline;">
                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                    <button type="submit" class="btn btn-link text-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></button>
                </form>
            {% endif %}
            </small>
        </div>
    </div>


    <p>{{ article.content|nl2br }}</p>

</article>